$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;

.App {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 5vh;
}

.logo-text {
  width: 15vh;
}

.Header {
  display: flex;
  flex-direction: row;
  height: 7vh;
  justify-content: space-between;
  border-bottom: 1px solid $color5;
}

.Logo-Space {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vh;
}

.Login-Space {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Login-Button{
  margin-right: 1vh;
}

.Profile-Img {
  width: 50px;
}

.homepage-img {
  display: flex;
  flex-direction: column;
}