$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;
$color2-2: #1c6654;
$color3-2: #82cda9;
$color4-2: #e1f0ec;

.App {
  text-align: center;
}

.setak-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.setak-content-wrap {
  flex: 1;
}

// Logo.tsx

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  height: 25px;
  margin-right: 5px;
}

.logo-text {
  height: 20px;
}

// Header.tsx

.Header {
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color5;
  margin-top: 5px;
  margin-right: 10px;
}

.Logo-Space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  margin-left: 15px;
}

.Header-logo {
  width: 25px;
  height: 25px;
}

.header-menu {
  width: 25px;
  height: 25px;
}

.Header-drawer-listitem {
  font-size: large;
  font-weight: bold;
  width: 220px;
  align-self: center;
  text-align: center;
}


// Footer.tsx

.footer-box {
  display: flex;
  flex-direction: row;
  background-color: #f1f3f5;
  padding-top: 2.5vh;
  padding-right: 1vh;
  padding-left: 2vh;
  padding-bottom: 2.5vh;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  align-items: center;
}

.footer-logo {
  height: 30px;
}

.footer-title {
  margin-left: 2px;
  height: 15px;
}


.footer-right {
  margin-left: 0.5vh;
  width: 60%;
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: center;
}

.footer-bold {
  font-size: smaller;
  font-weight: bold;
}

.footer-content {
  margin-top: 1vh;
  font-size: xx-small;
  color: grey;
}