$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;
$color2-2: #1c6654;
$color3-2: #82cda9;
$color4-2: #e1f0ec;

// CeoHome.tsx
.ceo-laundry-modes {
  display: flex;
  justify-content: space-around;
}

.ceo-laundry-mode {
  // display: flex;
  // flex-direction: column;
  margin: 10px;
}

.ceo-order-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
}

.ceo-order-item:hover {
  border: 1px solid $color2;
  background-color: $color5;
}

.ceo-order-item-text {
  margin-top: 2px;
  margin-bottom: 10px;
}

.ceo-order-item-orderNo-text {
  font-weight: bold;
}

.ceo-order-item-Time-text {
  font-size: medium;
  line-height: 3vh;
}

.ceo-order-item-chip {
  align-self: center;
}

.ceo-home-not-regist {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
}

.ceo-home-not-regist-text {
  text-align: center;
  font-size: xx-large;
  line-height: normal;
  padding-top: 2vh;
}

.ceo-home-not-regist-img-div {
  text-align: center;
  font-size: xx-large;
  line-height: normal;
}

.ceo-home-not-regist-img {
  width: 70%;
  height: 70%;
  margin-top: 1vh;
  margin-bottom: 5vh;
  align-self: center;
  object-fit: cover;
}

.ceo-home-not-regist-button {
  width: 70%;
  height: 70%;
  align-items: center;
  background-color: $color5;
}

.go-regist-button {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.go-regist-button:hover {
  background-color: $color5;
  border-radius: 30px;
}

// CeoOrderDetail.tsx
.order-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-detail-header {
  display: flex;
  margin-bottom: 1vh;
  padding: 1vh;
  width: 100%;
  align-items: center;
  background-color: #1e3e5c;
  color: white;
}

.order-detail-header-text {
  margin-left: 10vh;
}

.order-detail-info {
  display: flex;
  width: 150vh;
  margin: 1vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.order-detail-info-img {
  margin: 25px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.order-detail-info-content-middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 35px;
  justify-content: center;
}

.order-detail-info-content-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 35px;
  justify-content: space-between;
  margin-right: 5vh;
}

.order-detail-info-content-chip {
  align-self: flex-end;
}

.order-detail-info-content-total {
  align-self: flex-end;
  font-weight: normal;
  margin-right: 5vh;
}

.order-detail-state {
  display: flex;
  flex-direction: column;
  width: 150vh;
  height: 10vh;
  margin-bottom: 1vh;
}

.order-detail-state-steps {
  height: 10vh;
}

.order-detail-state-steps-buttons {
  display: flex;
  justify-content: space-between;
}

.order-detail-state-steps-warn {
  text-align: center;
  font-weight: bold;
  color: $color0;
  margin-top: 1vh;
}

.order-detail-upload {
  display: flex;
  flex-direction: column;
  width: 150vh;
}

.order-detail-upload-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 150vh;
  height: 23vh;
  margin-bottom: 1vh;
  padding: 2vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.order-detail-upload-text {
  font-size: x-large;
  font-weight: 500;
  width: 20vh;
}

.order-detail-upload-info {
  display: flex;
  height: 20vh;
  width: 62vh;
  margin-right: 1vh;
  flex-grow: 1;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: auto;
}

.order-detail-upload-img {
  padding: 1vh;
}

.order-detail-upload-button {
  width: 20vh;
}

// CeoMypage.tsx
.ceo-mypage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ceo-mypage-inside {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-direction: row;
}

.ceo-mypage-left {
  display: flex;
  align-items: center;
}

.ceo-mypage-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $color4-2;
  width: 30rem;
  height: 15rem;
  margin-top: 2rem;
  border-radius: 2rem;
}

.ceo-mypage-card-title {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.ceo-mypage-cln {
  margin: 2rem;
  align-self: flex-end;
  font-size: large;
  font-weight: bold;
}

.ceo-mypage-card-label {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.ceo-mypage-box-warn {
  align-self: center;
  border-radius: 1rem;
  width: 26rem;
  background-color: $color2-2;
  margin-bottom: 1rem;
}

.ceo-mypage-warn {
  width: 25rem;
  text-align: center;
  margin: 1rem;
  font-size: smaller;
  color: white;
}

.ceo-laundry-img {
  margin-top: 2rem;
  width: 30rem;
  border-radius: 2rem;
  height: 15rem;
  border: 0.3px solid $color2-2;
}

.ceo-laundry-title-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ceo-laundry-title {
  margin-top: 1vh;
  font-size: x-large;
  font-weight: bold;
}

.ceo-laundry-addr {
  margin-top: 1vh;
  font-size: small;
  color: grey;
}

.ceo-laundry-num {
  margin-top: 0.5vh;
  font-size: small;
  color: grey;
}

.ceo-laundry-mincost {
  margin-top: 0.5vh;
  font-size: smaller;
  color: grey;
}

.ceo-laundry-deliver {
  margin-top: 0.5vh;
  font-size: smaller;
  color: grey;
}

.ceo-laundry-info-card {
  width: 30rem;
  line-height: 2rem;
}

.ceo-mypage-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ceo-laundry-toggle-info {
  width: 45rem;
}

.ceo-laundry-toggle-tab {
  width: 33%;
}

.ceo-mypage-item-clean:hover {
  border-radius: 10px;
  background-color: $color4-2;
}

.ceo-mypage-item-add-button {
  display: flex;
  justify-content: flex-end;
}

.ceo-laundry-toggle-review-title {
  font-size: medium;
  font-weight: bold;
}

.ceo-laundry-toggle-review-star {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
}

.ceo-laundry-toggle-review-star-detail {
  margin-right: 5px;
}

.ceo-laundry-toggle-review-cnt1 {
  font-weight: bold;
  font-size: medium;
}

.ceo-laundry-mypage-img {
  max-width: 100%;
  max-height: 15rem;
}

.ceo-laundry-my-review-img {
  align-self: center;
  width: 6vh;
  height: 6vh;
  margin-right: 10px;
}

.ceo-laundry-my-review {
  display: flex;
  margin: 10px;
}

.ceo-laundry-my-review-nickname {
  font-weight: bold;
  font-size: small;
}

.ceo-laundry-my-review-rate {
  font-size: smaller;
  text-align: start;
}

.ceo-laundry-my-review-content {
  font-size: smaller;
  text-align: start;
}

.ceo-laundry-toggle-review-page {
  margin: 10px;
}

.ceo-review-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}

@media (max-width: 700px) {
  .order-detail {}

  .order-detail-header {}

  .order-detail-header-text {
    margin-left: 5vh;
  }

  .order-detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vh;
  }

  .order-detail-info-img {
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
  }

  .order-detail-review-write {
    margin-bottom: 10px;
  }

  .order-detail-info-content-middle {
    line-height: 30px;
    font-size: small;
  }

  .order-detail-info-content-right {
    display: flex;
    flex-direction: row;
  }

  .order-detail-info-content-chip {
    margin-right: 3vh;
  }

  .order-detail-info-content-total {
    font-size: small;
  }

  .order-detail-state {
    width: 40vh;
    height: 5vh;
  }

  .order-detail-state-steps {
    height: 5vh;
  }

  .order-detail-state-steps-buttons {
    display: flex;
    justify-content: space-between;
  }

  .order-detail-state-steps-warn {
    text-align: center;
    font-weight: bold;
    color: $color0;
    margin-top: 1vh;
  }

  .order-detail-upload {
    display: flex;
    flex-direction: column;
    width: 40vh;
  }

  .order-detail-upload-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 40vh;
    height: 15vh;
    margin-bottom: 1vh;
    padding: 2vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .order-detail-upload-text {
    font-size: small;
    font-weight: 500;
    margin-right: 1vh;
    width: 6vh;
  }

  .order-detail-upload-info {
    display: flex;
    height: 13vh;
    width: 13vh;
    margin-right: 1vh;
    flex-grow: 1;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: auto;
  }
}