$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;

// customer/CtmLaundryList.tsx
.customerlaundrylist {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-title {
    font-size: x-large;
}

.item-content>div {
    line-height: 30px;
    font-size: medium;
}

#select {
    min-width: 180px;
}

#cardImg {
    width: 150px;
}

#laundryCard {
    display: flex;
    height: 170px;
}

#laundryCard:hover {
    background-color: $color5;
    cursor: pointer;
}

#laundryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
}

.MuiCardContent-root {
    width: 350px;
    height: 170px;
}

.laundry-sort {
    margin-top: 15px;
}

// customer/CtmLaundryDetail.tsx
.customerlaundrydetail {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.rightdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-text {
    font-size: large;
}

.rightdiv-button {}

.orderinfo-button {
    padding: 10px;
    border: 0;
    background-color: white;
    width: 50%;
}

.reviewlist-button {
    padding: 10px;
    border: 0;
    background-color: white;
    width: 50%;
}

.button-selected {
    padding: 10px;
    border-bottom: 2px solid $color2;
}

.rightdiv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 70vh;
    padding: 20px;
}

.laundry-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-isDeliver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laundrydetailcard {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#laundrydetailimage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.laundrynum {
    width: 50px;
}

.laundry-my-review-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.laundry-my-review-list-content {
    display: flex;
    flex-direction: column;
}

.laundry-review-detail {
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
}

.laundry-my-review-list-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.laundry-my-review {
    display: flex;
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 70vh;
    height: 10vh;
}

.laundry-my-review-img {
    align-self: center;
    width: 50px;
    height: 50px;
}

.laundry-my-review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.laundry-my-review-nickname {
    align-self: center;
}

.laundry-my-review-content {
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
    max-height: 8vh;
    align-self: center;
}

.heart-animation {
    padding-top: 2em;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.heart-clicked {
    animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

// customer/CtmHome.tsx
.ctm-home {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10vh;
}

.tolist-Btn-Group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.toListBtn {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;

    &:hover {
        color: #FFF;
    }

    &:focus {
        color: #FFF;
    }
}


.toListBtn {
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 2vh;
    letter-spacing: 0.5vh;
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 14px 0px;
    border-radius: 2px;
    position: relative;

    &:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: $color1;
        z-index: -2;
    }

    &:hover {
        &:before {
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }

    &:focus {
        &:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }
}

.list-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-button-tag-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-tag-text {
    font-size: x-large;
    color: black;
}

.ctm-address-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.my-address-content{
    margin-left: 1vh;
    font-size: medium;
}

.laundry-list-img {
    width: 43%;
}

.list-buttons-up {
    display: flex;
    flex-direction: row;
}

.list-buttons-down {
    display: flex;
    flex-direction: row;
}

.modify-btn-img {
    width: 5vh;

}

//CtmMypage.tsx
.ctm-mypage {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh;
}

.ctm-mypage-left {
    background-color: rgb(248, 230, 233);
    border-radius: 30px;
    padding: 3vh;
    width: 30vh;
    height: 80vh;
}

.ctm-mypage-left-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.ctm-mypage-left-top-profile {
    width: 20vh;
}

.ctm-mypage-left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 3vh;
    height: 50vh;
}

.ctm-mypage-left-bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.ctm-mypage-right {
    display: flex;
    flex-direction: column;
}

.ctm-mypage-right-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 4vh;
    padding-bottom: 4vh;
    width: 95vh;
    height: 15vh;
}

.ctm-mypage-right-medium {
    display: flex;
    justify-content: space-evenly;
    width: 95vh;
    height: 5vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

.ctm-mypage-right-bottom {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    width: 95vh;
    height: 60vh;
}

.ctm-mypage-right-bottom-review {
    margin-bottom: 5vh;
}

.ctm-mypage-right-bottom-review-text {
    overflow-x: auto;
    overflow-wrap: anywhere;
}

// CtmOrderDetail.tsx
.order-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderdetailcard {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.orderdetailcard-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.orderdetailcard-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.orderdetail-status {
    font-size: 20px;
}