$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;

// customer/CtmLaundryList.tsx
.customerlaundrylist {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-title {
    font-size: x-large;
}

.item-content>div {
    line-height: 30px;
    font-size: medium;
}

#select {
    min-width: 180px;
}

#cardImg {
    width: 150px;
}

#laundryCard {
    display: flex;
    height: 170px;
}

#laundryCard:hover {
    background-color: $color5;
    cursor: pointer;
}

#laundryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
}

.MuiCardContent-root {
    width: 350px;
    height: 170px;
}

.laundry-sort {
    margin-top: 15px;
}

// customer/CtmLaundryDetail.tsx
.customerlaundrydetail {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.rightdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-text {
    font-size: large;
}

.rightdiv-button {}

.orderinfo-button {
    padding: 10px;
    border: 0;
    background-color: white;
    width: 50%;
}

.reviewlist-button {
    padding: 10px;
    border: 0;
    background-color: white;
    width: 50%;
}

.button-selected {
    padding: 10px;
    border-bottom: 2px solid $color2;
}

.rightdiv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 70vh;
    padding: 20px;
}

.laundry-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-isDeliver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laundrydetailcard {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#laundrydetailimage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.laundrynum {
    width: 50px;
}

.laundry-my-review-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.laundry-my-review-list-content {
    display: flex;
    flex-direction: column;
}

.laundry-review-detail {
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
}

.laundry-my-review-list-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.laundry-my-review {
    display: flex;
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 70vh;
    height: 10vh;
}

.laundry-my-review-img {
    align-self: center;
    width: 50px;
    height: 50px;
}

.laundry-my-review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.laundry-my-review-nickname {
    align-self: center;
}

.laundry-my-review-content {
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
    max-height: 8vh;
    align-self: center;
}

// customer/CtmHome.tsx
.ctm-home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-button-tag-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-tag-text {
    font-size: x-large;
    color: black;
}

.ctm-address-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.my-address-title {
    font-size: medium;
    margin-right: 20px;
}

.address-modify-btn {
    margin-left: 20px;
}

.laundry-list-img {
    width: 43%;
}

.list-buttons-up {
    display: flex;
    flex-direction: row;
}

.list-buttons-down {
    display: flex;
    flex-direction: row;
}

//CtmMypage.tsx
.ctm-my-page {
    display: flex;
    justify-content: center;
}

.ctm-my-page-left {
    display: flex;
    flex-direction: column;
}

.ctm-my-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    height: 40%;
    border: 1px solid $color2;
    border-radius: 20px;
}

.ctm-my-info-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ctm-my-info-content {
    display: flex;
    justify-content: space-around;
}

.ctm-my-info-content-left {
    display: flex;
    flex-direction: column;
}

.ctm-my-info-content-right {
    // flex-grow: 1;
}

.ctm-my-page-btn {
    justify-self: flex-end;
    align-self: center;
}

.ctm-my-review-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 95%;
    border: 1px solid $color2;
    border-radius: 20px;
}

.ctm-my-review-list-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ctm-my-review-list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.ctm-my-review-detail {
    flex-grow: 1;
    height: 150px;
}

.ctm-my-review {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 45px;
}

.ctm-pagination {
    align-self: center;
}

.ctm-no-pagination {
    display: none;
}

.ctm-my-order-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    width: 50%;
    border: 1px solid $color2;
    border-radius: 20px;
}

.ctm-my-order-list-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ctm-my-order-list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.ctm-my-order-detail {
    flex-grow: 1;
    height: 150px;
}

.ctm-my-order {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    background-color: $color5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 90px;
}

// CtmOrderDetail.tsx
.order-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderdetailcard {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.orderdetailcard-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.orderdetailcard-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.orderdetail-status {
    font-size: 20px;
}