$color0: #ff003e;
$color1: #1e3e5c;
$color2: #3066be;
$color3: #60afff;
$color4: #bfd7ea;
$color5: #e0ebf5;
$color2-2: #1c6654;
$color3-2: #82cda9;
$color4-2: #e1f0ec;

// Home.tsx
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color4;
}

.banner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vh;
  height: 25vh;
}

.banner-title {
  margin-top: 7vh;
  margin-bottom: 7vh;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.banner-title-top {
  padding-top: 5%;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.banner-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5vh;
}

.banner-title-1 {
  display: flex;
  justify-content : center;
  align-items: center;
  height: auto;
  margin-bottom: 20%;
  width: 100%;
}

.banner-title-2 {
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content : center;
  align-items: center;
  height: auto;
  width: 100%;
}

.banner-title-text {
  text-align: justify;
  justify-content : center;
}

.banner-title-3 {
  font-size: small;
  text-align: center;
  margin-top: 2vh;
}

.banner-check-content {
  margin-left: 1vh;
  margin-right: 1vh;
  font-size: smaller;
}

.banner-img {
  padding-right: 5vh;
  width: 20vh;
}

.mockup {
  margin-top: 6vh;
  max-width: 100%;
  height: 75%;
}

.banner-img-div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content : center;
  align-items: center;
}

.mockup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mockup-title {
  margin-right: 5vh;
}

.mockup-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.mockup-title {
  align-self: center;
  margin: 2vh;
  width: 35vh;
}

.mockup-title-head {
  font-size: large;
  font-weight: bolder;
  margin-bottom: 10%;
}

.mockup-title-body {
  font-size: small;
  font-weight: 100;
}

.mockup-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mockup-check-icon {
  margin-right: 1vh;
}

.mockup-img {
  width: 15vh;
  margin: 3vh;
}

.home-gif {
  width: 100vh;
}

// Login.tsx
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.login-button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakao-login-button {
  width: 75px;
}

// Signup.tsx
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signup-type {
  display: flex;
  margin-bottom: 10px;
}

.mode-selected {
  width: 160px;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: $color3;
}

.mode-not-selected {
  width: 140px;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid $color4;
  background-color: white;
}

.signup-page-wallet-tag{
  width: 300px;
  padding: 8px;
}

.signup-tos-dialog {
  margin-top: 100px;
}

.more{
  font-size: smaller;
  text-decoration-line: underline;
}

.alert-dialog-title {
  font-size: large;
}

.signup-tos-dialog-content {
  height: 200px;
}

.signup-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.next-btn {
  margin-left: 15px;
}

.wallet-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.error-content {
  text-align: center;
  line-height: 30px;
}

.error-content-bold {
  font-size: xx-large;
}

.rowspan-img-wrap {
  width: 70px;
  margin-right: 10px;
}

.signup-wallet-title {
  line-height: 13px;
}

.rowspan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rowspan-warn {
  margin-right: 12px;
}

.rowspan-warn-content {
  line-height: 13px;
}

.wallet-textfields {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 16px;
}
